@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:ital@1&family=Permanent+Marker&family=Yellowtail&display=swap");
* {
    box-sizing: border-box;
}
body {
    background-color: #b36d61;
    font-family: "Indie Flower", cursive;
    font-size: x-large;
    text-shadow: 2px 2px 4px #d3a237;
    font-weight: bold;
}

#best {
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
}
p {
    text-align: center;
    color: darkred;
}
.file {
    border: none;
    border-radius: 0;
}

#main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

img {
    width: 400px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
}

.cards {
    border: 5px inset #d3a237;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.imageContainer {

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#container {
    margin: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

input,
button {
    padding: 0px;
    margin: 20px;
    height: 35px;
    border: 3px solid #d3a237;
    border-radius: 15px;
    color: #d3a237;
}
.close,
button:hover {
    cursor: pointer;
}

.close {
    font-size: 45px;
    font-weight: 600;
}

h1 {
    text-align: center;
    margin: 30px;
    color: #d3a237;
}

#imageContainer {
    position: fixed;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    overflow: scroll;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 2rem);
    top: calc(10%);
    bottom: calc(10%);
}

#imageContainer * {
    margin: 10px;
}

.comments {
    width: 80%;
    height: 200px;
    border: 3px solid #d3a237;
}

#more {
    width: 80%;
    text-align: center;
}


.notFound {
    width: calc(40vw);
    text-align: center;
}


